*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

button{
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    color: white;
    background-color: cadetblue;
    box-shadow: 1 3 5px #000;
    border: solid 3px black;
    cursor: pointer;
}

button:hover{
    background-color:rgb(11, 84, 97);
}